<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <link rel="stylesheet" href="/css/common.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/css/game.css" media="screen" type="text/css" />
    <title>Star RPG</title><!-- TODO: SEO 対策のためのタイトルサーバーサイド変更など -->
  </head>
  <body>
    <header>
      <h1><a href="/">Star RPG</a></h1>
      <nav>
        <ul>
          <li id="editNavItem" class="mainPanelNavItem default">Edit</li>
          <li id="playNavItem" class="mainPanelNavItem">Play</li>
        </ul>
      </nav>
    </header>
    <section id="loading">
      <p>Loading...</p>
    </section>
    <section id="edit" class="mainPanel">
      <nav>
        <ul>
          <li id="editGameNavItem" class="editPanelNavItem default">Game</li>
          <li id="editMapsNavItem" class="editPanelNavItem">Maps</li>
          <li id="editActorsNavItem" class="editPanelNavItem">Actors</li>
          <li id="editItemsNavItem" class="editPanelNavItem">Items</li>
          <li id="editSkillsNavItem" class="editPanelNavItem">Skills</li>
          <li id="editEnemiesNavItem" class="editPanelNavItem">Enemies</li>
        </ul>
      </nav>
      <section id="editGame" class="editPanel">
        <dl>
          <dt>Title</dt>
          <dd><input type="text" name="name" value="" /></dd>
          <dt>Description</dt>
          <dd><textarea name="description"></textarea></dd>
        </dl>
      </section>
      <section id="editMaps" class="editPanel hasEntries">
        <nav>
          <ol>
            <li>foo</li>
          </ol>
        </nav>
        <section>
          <p>maps</p>
        </section>
      </section>
      <section id="editActors" class="editPanel hasEntries">
        <nav>
          <ol>
            <li>foo</li>
          </ol>
        </nav>
        <section>
          <p>actors</p>
        </section>
      </section>
      <section id="editItems" class="editPanel hasEntries">
        <nav>
          <ol>
            <li>foo</li>
          </ol>
        </nav>
        <section>
          <p>items</p>
        </section>
      </section>
      <section id="editSkills" class="editPanel hasEntries">
        <nav>
          <ol>
            <li>foo</li>
          </ol>
        </nav>
        <section>
          <p>skills</p>
        </section>
      </section>
      <section id="editEnemies" class="editPanel hasEntries">
        <nav>
          <ol>
            <li>foo</li>
          </ol>
        </nav>
        <section>
          <p>enemies</p>
        </section>
      </section>
    </section>
    <section id="play" class="mainPanel">
      <p>(プレイ画面をここに作る)</p>
      <p>(スイッチ、変数表)</p>
      <p>(エミュレータのような途中セーブ機能)</p>
    </section>
    <footer>
      <p>show the current status here?</p>
      <p>Hajime Hoshi</p>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
  </body>
</html>
