<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <link rel="stylesheet" href="/css/common.css" media="screen" type="text/css" />
    <title>Star RPG</title>
  </head>
  <body>
    <header>
      <h1>Star RPG</h1>
    </header>
    <section>
      <p>You can create a role-playing game.</p>
      <p>(ここに規約などを書く)</p>
      <p><a href="." id="createGame">Create a New Game!</a></p>
    </section>
    <footer>
      <p>Hajime Hoshi</p>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/server.js?"></script>
    <script type="text/javascript" src="/js/home.js?"></script>
  </body>
</html>
