<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <link rel="stylesheet" href="/css/common.css" media="screen" type="text/css" />
    <title>Star RPG (仮)</title>
  </head>
  <body>
    <header>
      <h1>Star RPG (仮)</h1>
    </header>
    <section>
      <p>RPG が作れるサイトです。</p>
      <p>(ここに規約などを書く)</p>
      <p><a href="." id="createGame">規約に同意してゲームを作成する</a></p>
    </section>
    <footer>
      <p>Hajime Hoshi</p>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/home.js?"></script>
  </body>
</html>
