/* box */

body {
    -moz-box-orient: block-axis;
    -webkit-box-orient: block-axis;
    display: -moz-box;
    display: -webkit-box;
}
body > header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body > section {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body > footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* other */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

header > h1 {
    font-size: 100%;
    margin: 0;
    padding: 8px 16px;
}
header > h1 a {
    color: inherit;
    text-decoration: none;
}
header > nav {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 8px 16px;
}
header > nav ul {
    margin: 0;
    padding: 0;
}
header > nav ul li {
    cursor: pointer;
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

body > section {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #fff;
    margin: 0;
    padding: 8px 16px;
    width: 100%;
}

footer > p {
    margin: 0;
    padding: 0;
}
