/* box */

#edit {
    -moz-box-orient: block-axis;
    -webkit-box-orient: block-axis;
    display: -moz-box;
    display: -webkit-box;
}
#edit > nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#edit > .editPanel {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.editPanel.hasEntries {
    display: -moz-box;
    display: -webkit-box;
}
.editPanel.hasEntries > *:nth-child(1) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.editPanel.hasEntries > *:nth-child(2) {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* other */

#edit > nav {
    background-color: #eee;
    margin: 0;
    padding: 8px 16px;
    overflow: hidden;
}
#edit > nav ul {
    margin: 0;
    padding: 0;
}
#edit > nav ul li {
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0 8px 0 0;
}

.editPanel.hasEntries > *:nth-child(1) {
    overflow-y: scroll;
    width: 15%;
}
